.aboutUs {
  background: #eee;
}

.aboutUs .container {
  @include flex($direction: column);
}

.aboutUs-title {
  font-size: 28px;
  margin: 0;
  text-align: center;
}

.aboutUs-text {
  font-size: 16px;
  margin: 10px 0;
}

.aboutUs-features {
  @include flex($wrap: wrap);
  width: $primary-value*1%;
  position: relative;
  margin: 10px 0 0;
}

.aboutUs-feature {
  width: 100%;
  min-height: 200px;
  padding: 15px;
  background: #fff;
  text-align: left;
  position: relative;
}

.aboutUs-feature-title {
  font-size: 20px;
  margin: 0;
}

.aboutUs-feature-text {
  font-size: 18px;
  margin: 10px 0;

  a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
    padding-bottom: 1px;
    color: black;
    cursor: pointer;
  }
}

#firstFeature,
#secondFeature,
#thirdFeature {
  border-bottom: 1px solid #eeeeee;
}


@media(min-width: 540px) {
  .aboutUs-feature {
    min-height: 150px;
  }
}


@media(min-width: 650px) {
  .aboutUs {
    height: 620px;
  }

  .aboutUs-features {
    height: 100%;
  }

  .aboutUs-feature {
    width: 50%;
    height: 50%;
    padding: 20px;
  }

  //icons
  .aboutUs-feature::after {
    @include pseudo-element;
    position: absolute;
    top: -20px;
    right: -20px;
    background: no-repeat center;
    background-size: 35px;
    transform: translate(-50%, 50%);
  }

  #firstFeature::after {
    background-image: url("../images/chalkboard-teacher.svg");
  }

  #secondFeature::after {
    background-image: url("../images/user-tie.svg");
  }

  #thirdFeature::after {
    background-image: url("../images/laptop.svg");
  }

  #fourthFeature::after {
    background-image: url("../images/edit.svg");
  }

  .aboutUs-features::after,
  .aboutUs-features::before{
    background: #eee;
    position: absolute;
    z-index: 1;
  }

  .aboutUs-features::after {
    @include pseudo-element($width: 90%, $height: 1px);
    top: 50%;
    left: 0;
    transform: translate(5%, 0);
  }

  .aboutUs-features::before {
    @include pseudo-element($width: 1px, $height: 90%);
    top: 0;
    left: 50%;
    transform: translate(0, 5%);
  }

  #firstFeature,
  #secondFeature,
  #thirdFeature {
    border-bottom: none;
  }
}


@media(min-width: 720px) {
  .aboutUs-features {
    margin: 20px 0 0;
  }

  .aboutUs-title {
    font-size: 32px;
  }
  
  .aboutUs-text {
    font-size: 18px;
  }
}


