.aboutUs {
  @include position-size;
  background: #eee;
}

.aboutUs .container {
  @include flex($direction: column);
  height: $primary-value*1%;
}

.aboutUs-title {
  @include title-section;
}

.aboutUs-text {
  font-size: 20px;
  margin: 10px 0 20px;
}

.aboutUs-features {
  @include flex($wrap: wrap);
  height: 78%;
  width: $primary-value*1%;
  position: relative;
}

.aboutUs-features::after {
  @include pseudo-element($width: 90%, $height: 1px);
  background: #eee;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translate(5%, 0);
  z-index: 1;
}

.aboutUs-features:before {
  @include pseudo-element($width: 1px, $height: 90%);
  background: #eee;
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(0, 5%);
  z-index: 1;
}

.aboutUs-feature {
  width: 50%;
  height: 50%;
  padding: 40px;
  background: #fff;
  text-align: left;
}

.aboutUs-feature-title {
  font-size: 20px;
  margin:0;
  position: relative;
}


//icons
.aboutUs-feature-title::after {
  @include pseudo-element;
  position: absolute;
  top: 0;
  right: 0;
  background: no-repeat center;
  background-size: 40px;
  transform: translate(50%,-50%);
}

#firstFeature .aboutUs-feature-title::after {
  background-image: url("../images/chalkboard-teacher.svg");
}

#secondFeature .aboutUs-feature-title::after {
  background-image: url("../images/user-tie.svg");
}

#thirdFeature .aboutUs-feature-title::after {
  background-image: url("../images/laptop.svg");
}

#fourthFeature .aboutUs-feature-title::after {
  background-image: url("../images/edit.svg");
}

.aboutUs-feature-text {
  font-size: 18px;
  margin: 15px 0 0;
}