.aboutUs {
  background: #f6f7f6;
}

.aboutUs .container {
  @include flex($direction: column);
}

.aboutUs-title {
  font-size: 24px;
  letter-spacing: .4px;
  margin: 0;
  text-align: center;
}

.aboutUs-subtitle {
  font-size: 18px;
  font-weight: 400;
  letter-spacing: .2px;
  margin: 10px 0 15px;
}

.aboutUs-features {
  @include flex($wrap: wrap);
  width: $primary-value*1%;
  margin: 10px 0;
  padding: 15px;
  background: #fff;
  border-radius: 5px;
}

.aboutUs-feature {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.aboutUs-feature-title {
  font-size: 18px;
  margin: 0;
  text-align: center;
  letter-spacing: .2px;
}

.aboutUs-feature-text {
  font-size: 16px;
  text-align: justify;
  letter-spacing: .2px;
  line-height: 26px;
  padding: 15px 0;
  margin: 0;
  border-bottom: 1px solid #eee;

  a {
    text-decoration: none;
    border-bottom: 1px dotted #000;
    padding-bottom: 1px;
    color: inherit;
    cursor: pointer;
  }

  a:hover {
    color: lighten(#333333, 15%);
  }
}

#feature6 .aboutUs-feature-text {
  border: none;
  padding-bottom: 0;
}

//icons
.aboutUs-feature::before {
  @include pseudo-element($width: 45px, $height: 45px);
  background: no-repeat center;
  margin-bottom: 5px;
}

#feature1::before {
  background-image: url("../assets/icons/chalkboard-teacher.svg");
}

#feature2::before {
  background-image: url("../assets/icons/user-tie.svg");
}

#feature3::before {
  background-image: url("../assets/icons/tools.svg");
}

#feature4::before {
  background-image: url("../assets/icons/book.svg");
}

#feature5::before {
  background-image: url("../assets/icons/laptop.svg");
}

#feature6::before {
  background-image: url("../assets/icons/edit.svg");
}


@media(min-width: 720px) {
  .aboutUs-title {
    font-size: 28px;
  }

  .aboutUs-subtitle {
    font-size: 20px;
  }

  .aboutUs-features {
    height: auto;
    width: 100%;
    position: relative;
    margin: 20px 0 5px;
    padding: 0;
  }

  .aboutUs-features::before{
    background: #eee;
    position: absolute;
    z-index: 1;
  }

  .aboutUs-features::before {
    @include pseudo-element($width: 1px, $height: 90%);
    top: 0;
    left: 50%;
    transform: translate(0, 5%);
  }

  .aboutUs-feature {
    align-self: start;
    width: 50%;
    height: auto;
    position: relative;
    padding: 25px 30px;
    margin-bottom: 0;

    &::before {
      width: 30px;
      height: 30px;
      position: absolute;
      top: 15px;
      right: 12px;
    }
  }

  #feature1::after, #feature3::after {
    @include pseudo-element(190%, 1px);
    position: absolute;
    bottom: 0;
    left: 5%;
    background: #eee;
  }

  .aboutUs-feature-title {
    margin: 0 20px;
  }

  .aboutUs-feature-text {
    border: none;
    padding: 20px 0 0;
    font-size: 16px;
  }
}

@media(min-width: 1360px) {
  .aboutUs-features {
    min-height: 520px;
    max-width: 1140px;
    margin: 0 auto;
  }

  .aboutUs-feature {
    padding: 30px 45px;
    
      &::before {
        width: 34px;
        height: 34px;
        right: 20px;
      }
  }

  .aboutUs-feature-title {
    font-size: 20px;
  }
}

