.banner {
  height: 100vh;
  position: relative;
}

#bgImg {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

#bgVideo {
  height: 100%;
  width: auto;
  object-fit: cover;
  display: none;
}

.banner .container {
  @include flex($direction: column);
  width: 100%;
  position: absolute;
  top: -5%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.banner-text {
  color: white;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
}

#btnContainer {
  margin-top: 40px;
}

.banner-btn {
  @include button($padding: 14px 18px, $color: white);
  font-weight: 700;
  letter-spacing: .6px;
}

@media(min-width: 720px) {
  #bgImg {
    display: none;
  }

  #bgVideo {
    display: block;
  }

  .banner-text {
    font-size: 22px;
  }

  #btnContainer {
    margin-top: 60px;
  }

  .banner-btn {
    padding: 16px 20px;
    border: none;
    box-shadow: 0 0 0 2px white;
    transition: box-shadow 100ms linear;
  }

  .banner-btn:hover {
    box-shadow: 0 0 0 4px white;
  }
}


@media(max-height: 500px) {
  .banner-logo {
    width: 90%;
  }
  
  .banner-text {
    font-size: 14px;
  }
  
  #btnContainer {
    margin-top: 20px;
  }
  
  .banner-btn {
    padding: 8px 15px;
    font-size: 14px;
  }
}

