.footer {
  height: 10vh;
  min-height: 50px;
  max-height: 80px;
  background: #ccc;
}

.footer .container {
  padding-top: 0;
  padding-bottom: 0;
}

.footer-list {
  @include flex($direction: column, $align: flex-start);
  height: 100%;
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;
  letter-spacing: .2px;
  line-height: 26px;
}

.authors a {
  text-decoration: none;
  color: inherit;
  font-weight: 700;
  transition: .5s;
}

.authors a:hover {
  color: darken(#333, 20%);
}


@media(min-width: 540px) {
  .footer-list {
    @include flex($justify: space-between);
    line-height: 0;
  }
}