.home {
  height: 100vh;
  min-height: 610px;
  position: relative;
}

#bgImg {
  position: fixed;
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
  z-index: -9999;
}

#bgVideo {
  position: fixed;
  width: auto;
  height: 100%;
  min-height: 610px;
  z-index: -9999;
  display: none;
}

.home .container {
  @include flex($direction: column);
  width: 100%;
  position: absolute;
  top: -5%;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.home-logo {
  height: 50%;
}

.home-text {
  color: white;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px;
}

#btnContainer {
  margin-top: 40px;
}

.home-btn {
  @include button($padding: 14px 18px, $color: white);
  font-weight: 700;
  letter-spacing: .6px;
}

@media(min-width: 720px) {
  #bgImg {
    display: none;
  }

  #bgVideo {
    display: block;
  }

  .home-text {
    font-size: 22px;
  }

  #btnContainer {
    margin-top: 60px;
  }

  .home-btn {
    padding: 16px 20px;
    border: none;
    box-shadow: 0 0 0 2px white;
    transition: box-shadow 100ms linear;
  }

  .home-btn:hover {
    box-shadow: 0 0 0 4px white;
  }
}

