.home {
  height: 100vh;
  min-height: 600px;
}

.home .container {
  @include flex($direction: column);
  height: $primary-value*1%;
}

.home-title {
  font-size: 48px;
  margin: 20px 0;
}

.home-text {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
}

.home-btn {
  @include button($padding: 14px 18px, $background: $main-color, $color: white);
  margin-top: 60px;
}


@media(min-width: 720px) {
  .home-title {
    font-size: 54px;
  }

  .home-text {
    font-size: 24px;
  }

  .home-btn {
    padding: 16px 20px;
    margin-top: 80px;
    background: transparent;
    color: $main-color;
  }
}

