.home {
  height: 100vh;
  min-height: 600px;
  position: relative;
}

#bgImg {
  width: 100%;
  height: auto;
  min-height: 100%;
  object-fit: cover;
  z-index: 0;
}

#bgVideo {
  position: relative;
  width: auto;
  height: 100%;
  z-index: 0;
  display: none;
}

.home .container {
  @include flex($direction: column);
  width: 100%;
  position: absolute;
  top: 0;
  left: 50%;
  z-index: 1;
  transform: translateX(-50%);
}

.home-logo {
  height: 50%;
}

.home-text {
  color: white;
  font-size: 20px;
  text-align: center;
  letter-spacing: 1px;
  margin: 10px;
}

.home-btn {
  @include button($padding: 14px 18px, $background: $main-color, $color: white);
  margin-top: 40px;
}


@media(min-width: 720px) {
  #bgImg {
    display: none;
  }

  #bgVideo {
    display: block;
  }

  .home-text {
    font-size: 22px;
  }

  .home-btn {
    padding: 16px 20px;
    margin-top: 60px;
    background: transparent;
    border: 2px solid #ffffff;
    font-weight: bold;
    letter-spacing: 1px;
  }
}

