.main-header {
  @include position-size;
}

.main-header .container {
  @include flex($direction: column);
  height: $primary-value*1%;
}

.main-header-title {
  font-size: 60px;
  margin: 20px;
}

.main-header-text {
  font-size: 20px;
}

//animated button
.main-header-btn{
  padding: 16px 20px;
  margin-top: 80px;
  background: transparent;
  border: 2px solid $main-color;
  font-size:16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color:#5fc9c9;
}

.main-header-btn:link, .main-header-btn:visited {
  position: relative;
  display: block;
  overflow: hidden;
  transition: all 1s ease;
}

.main-header-btn:link:after, .main-header-btn:visited:after {
  @include pseudo-element($width: 150%, $height: 0);
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: -1;
  transition: all 1s ease 0s;
}

.main-header-btn:link:hover, .main-header-btn:visited:hover {
  color: white;
}

.main-header-btn:after {
  background: $main-color;
  opacity: 0.5;
  transform: translateY(-50%) translateX(-50%) rotate(90deg);
}

.main-header-btn:hover:after {
  opacity: 1;
  height: 600%;
}

