.main-nav {
  @include flex($justify: flex-end);
  position: fixed;
  top:0;
  left:0;
  width:20%;
  height: $primary-value*1vh;
  z-index: 1000;
  background: #111111;
}

.main-nav-list {
  width: $primary-value*1%;
  padding:0;
  margin: 40px;
  text-align: right;
  list-style: none;
}

.main-nav-list-link {
  width: $primary-value*1%;
  position: relative;
  display: inline-block;
  text-decoration: none;
  font-size: 20px;
  line-height: 60px;
  color: #fff;
  opacity: 0.7;
  transition: 0.3s;
}

.main-nav-list-link::after {
  @include pseudo-element($width: $primary-value*1%, $height: 2px);
  position: absolute;
  bottom: 10px;
  right: 0;
  background: #fff;
}

.main-nav-list-link::before {
  @include pseudo-element($width: $primary-value*1%, $height: 2px);
  position: absolute;
  bottom: 10px;
  right: 0;
  background: $main-color;
  z-index: 2;
  transform: scaleX(0);
  transition: 0.5s ease-in-out;
}


.main-nav-list-link:hover {
  color: $main-color;
  opacity: 1;
}

.main-nav-list-link:hover::before {
  transform: scaleX(1);
}

.main-nav-list-link.active {
  color: $main-color;
  opacity: 1;
}

.main-nav-list-link.active::after {
  @include pseudo-element($width: $primary-value*1%, $height: 2px);
  position: absolute;
  bottom: 10px;
  right: 0;
  background: $main-color;
}
