.map {
  @include position-size(92vh);
  position: absolute;
  top: 0;
  bottom: 0;
}

.marker {
  background: url('../images/map-marker.svg') no-repeat;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.mapboxgl-popup {
  max-width: 240px;
}

.mapboxgl-popup-content {
  text-align: left;
  color: #111111;
  font-family: 'Lato', sans-serif;
  font-size: 14px;
}