//general
.training {
  @include position-size($primary-value*3vh);
}

//first section
.training-description .container {
  @include flex($direction: column);
  height: $primary-value*1vh;
}

.training-description-title {
  @include title-section;
}

.training-description-list {
  margin-top: 40px;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.training-description-list-elem {
  margin-bottom: 20px;
  position: relative;
}

.training-description-list-elem::before{
  @include pseudo-element($width: 20px, $height: 20px);
  background-image: url("../images/check.svg");
  position: absolute;
  top: 0;
  left: -30px;
}

//second section
.training-offer {
  @include flex;
  background: #eee;
  height: $primary-value*1vh;
}

.training-offer .container {
  @include flex($wrap: wrap);
}

.training-offer-img,
.training-offer-content {
  @include flex($direction: column, $wrap: no-wrap, $align: center, $justify: center);
  background: white;
  width: 50%;
  height: 280px;
}

.training-offer-title {
  font-size: 20px;
  margin:0;
}

.training-offer-list {
  font-size: 18px;
  line-height: 25px;
  padding-left: 0;
  list-style: none;
}

//animation list


//third section
.training-registration .container {
  @include flex($direction: column);
  height: $primary-value*1vh;
}

.training-registration-title{
  @include title-section;
  margin-bottom: 40px;
}

.training-registration-form {
  @include flex ($direction: column);
  width: 50%;
  position: relative;
}

.training-registration-form::before {
  @include pseudo-element($width: 70px, $height: 70px);
  background: url("../images/graduation-cap.svg") no-repeat center;
  position: absolute;
  top: 0;
  left: -100px;
}

.registration-form-row {
  @include flex;
  margin-bottom: 15px;
  width: 100%;
}

.registration-form-input {
  @include input;
}

.registration-form-label {
  font-size: 18px;
  font-weight: 700;
  width: 40%;
}

.registration-form-btn {
  @include submitBtn;
}

.select {
  @include input;
}