@mixin pseudo-element($width: 50px, $height: 50px) {
  content: '';
  width: $width;
  height: $height;
  display: block;
}

@mixin flex($direction: row, $wrap: no-wrap, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin input($display: block, $padding: 10px, $borderRadius: 5px, $border: 1px solid #ccc, $width: $primary-value*1%) {
  display: $display;
  padding: $padding;
  border-radius: $borderRadius;
  border: $border;
  outline: none;
  width: $width;

  &:focus {
    border: 1px solid #aaa;
  }
}

@mixin button($padding: 16px 20px, $background: none, $color: $main-color) {
  padding: $padding;
  background: $background;
  border: 2px solid $color;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $color;
  user-select: auto;
  -webkit-tap-highlight-color: transparent;

  @media(min-width: 720px) {
    cursor: pointer;
  }
}

@mixin animatedBtn {
  @media(min-width: 720px) {
    position: relative;
    z-index: 1;
    transition: 0.07s ease-in;

    &:hover {
      color: white;
    }

    &:before {
      content: "";
      position: absolute;
      background: $main-color;
      bottom: 100%;
      left: 0;
      right: 0;
      top: 0;
      z-index: -1;
      transition: bottom 0.09s ease-in;
    }

    &:hover:before {
      bottom: 0;
    }
  }
}