@mixin position-size($height: $primary-value*1vh) {
  height: $height;
  margin-left: 20%;
}

@mixin pseudo-element($width: 50px, $height: 50px) {
  content: '';
  width: $width;
  height: $height;
  display: block;
}

@mixin flex($direction: row, $wrap: no-wrap, $align: center, $justify: center) {
  display: flex;
  flex-direction: $direction;
  align-items: $align;
  justify-content: $justify;
  flex-wrap: $wrap;
}

@mixin title-section($fontSize: 34px) {
  font-size: $fontSize;
  margin: 0;
}

@mixin input($display: block, $padding: 10px, $borderRadius: 5px, $border: 1px solid #ccc, $width: $primary-value*1%) {
  display: $display;
  padding: $padding;
  border-radius: $borderRadius;
  border: $border ;
  outline: none;
  width: $width;

  &:focus {
    border: 1px solid #aaa;
  }
}

@mixin submitBtn() {
  padding: 16px 20px;
  margin-top: 20px;
  background: transparent;
  border: 2px solid $main-color;
  font-size:16px;
  font-weight: bold;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: $main-color;
  cursor: pointer;
  float: right;
}