<!doctype html>
<html lang="en">
<head>
    <!--{% load static %}-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Akademia Inwentaryzacji</title>

    <!--css-->
    <link rel="stylesheet" href="../../static/ai3d/css/style.min.css">

    <!--jquery & js-->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../../static/ai3d/js/bundle.min.js"></script>

    <!--cdn font-->
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet">

    <!--cdn aos-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!--cdn mapbox-->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />

</head>

<body>

    <nav class="main-nav">
        <ul class="main-nav-list">
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link active" href="#mainHeader">
                    Akademia
                </a>
            </li>
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link" href="#aboutUs">
                    O nas
                </a>
            </li>
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link" href="#offer">
                    Szkolenia
                </a>
            </li>
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link" href="#contact">
                    Kontakt
                </a>
            </li>
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link" href="#map">
                    Znajdź nas
                </a>
            </li>
        </ul>

        <div class="main-nav-toggle" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </nav>


    <header class="main-header scrolled" id="mainHeader">
        <div class="container">
            <h1 class="main-header-title"
                data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1000" data-aos-once="true">
                Logo
            </h1>
            <p class="main-header-text"
               data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-once="true">
                AKADEMIA INWENTARYZACJI 3D
            </p>
            <a href="#aboutUs" class="main-header-btn"
               data-aos="fade-up" data-aos-delay="1500" data-aos-duration="1000" data-aos-once="true">
                Dowiedz się więcej
            </a>
        </div>
    </header>


    <section class="aboutUs scrolled" id="aboutUs">
        <div class="container">
            <h2 class="aboutUs-title">
                O nas
            </h2>
            <p class="aboutUs-text">
                Dlaczego warto nas wybrać?
            </p>

            <div class="aboutUs-features">
                <section class="aboutUs-feature" id="firstFeature">
                    <h3 class="aboutUs-feature-title">
                        Nauka od podstaw
                    </h3>
                    <p class="aboutUs-feature-text">
                        Poznasz nowoczesne metody inwentaryzacji obiektów architektonicznych - od skanowania 3D, poprzez tworzenie i obróbkę chmury punktów, aż do przygotowania dokumentacji końcowej w postaci rysunków CAD 2D lub modeli 3D.
                    </p>
                </section>
                <section class="aboutUs-feature" id="secondFeature">
                    <h3 class="aboutUs-feature-title">
                        Wykwalifikowany zespół
                    </h3>
                    <p class="aboutUs-feature-text">
                        Szkolenie prowadzi międzynarodowa, doświadczona kadra, która działa w branży architektonicznej w zakresie tworzenia dokumentacji 2D i 3D dla istniejących obiektów.
                    </p>
                </section>
                <section class="aboutUs-feature" id="thirdFeature">
                    <h3 class="aboutUs-feature-title">
                        Materiały dydaktyczne
                    </h3>
                    <p class="aboutUs-feature-text">
                        Podczas szkoleń zapewniamy uczestnikom materiały dydaktyczne w formie elektronicznej - każdy uczestnik otrzyma dysk przenośny zawierający dane do opracowania oraz przykłady realizacji inwentaryzacji w 3D.
                    </p>
                </section>
                <section class="aboutUs-feature" id="fourthFeature">
                    <h3 class="aboutUs-feature-title">
                        Szybka rejestracja
                    </h3>
                    <p class="aboutUs-feature-text">
                        W sekcji <a href="#register">Szkolenia</a> znajdziesz formularz do zapisu. Uzupełnij swoje dane, wybierz rodzaj kursu, datę i gotowe!
                    </p>
                </section>
            </div>
        </div>
    </section>


    <section class="training"  id="offer">
        <section class="training-description scrolled">
            <div class="container">
                <h2 class="training-description-title">
                    Co osiągniesz dzięki szkoleniu?
                </h2>
                <ul class="training-description-list">
                    <li class="training-description-list-elem"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-once="true">
                        Dowiesz się, na czym opiera się nowoczesna technologia inwentaryzacji obiektów architektonicznych oraz poznasz zagadnienia związane ze skanowaniem i modelowaniem 3D budynków.
                    </li>
                    <li class="training-description-list-elem"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-delay="200" data-aos-once="true">
                        Nauczysz się, jak stosować nowoczesne technologie inwentaryzacji 3D dla różnego typu obiektów architektonicznych i jak określić najbardziej optymalny rodzaj dokumentacji końcowej.
                    </li>
                    <li class="training-description-list-elem"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-delay="400" data-aos-once="true">
                        Uzyskasz umiejętność radzenia sobie w środowisku 3D, posługując się różnego rodzaju aplikacjami i narzędziami.
                    </li>
                    <li class="training-description-list-elem"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" data-aos-once="true">
                        Poznasz i przećwiczysz   każdy etap inwentaryzacji 3D zabytkowego budynku o skomplikowanej geometrii.
                    </li>
                    <li class="training-description-list-elem"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800" data-aos-once="true">
                        Dowiesz się, co można skanować, jakich rezultatów prac pomiarowych należy oczekiwać i jakie są najczęściej popełniane błędy przy pracach pomiarowych 3D.
                    </li>
                    <li class="training-description-list-elem"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" data-aos-once="true">
                        Uzyskasz wiedzę praktyczną dotyczącą dokładnego odwzorowania danych 3D w dokumentacji płaskiej 2D CAD oraz dowiesz się, na co należy zwrócić uwagę w trakcie przygotowywania tego typu opracowań.
                    </li>
                    <li class="training-description-list-elem"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200" data-aos-once="true">
                        Dowiesz się, jak przygotować modele 3D na bazie chmury punktów i jakie oprogramowanie należy wykorzystać.
                    </li>
                    <li class="training-description-list-elem"
                        data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1400" data-aos-once="true">
                        Uzyskasz wiedzę praktyczną dotyczącą realizacji projektów związanych z inwentaryzacją 3D - jakie  dokładności można uzyskać w odniesieniu do zakładanego czasu oraz prognozowanych kosztów.
                    </li>
                </ul>
            </div>
        </section>

        <section class="training-offer scrolled">
            <div class="container">
                <img class="training-offer-img" src="../../static/ai3d/images/sample-img1.jpg">
                <div class="training-offer-content" id="firstTraining">
                    <h3 class="training-offer-title">
                        Poziom I
                    </h3>
                    <ul class="training-offer-list">
                        <li><strong>8 godzin lekcyjnych szkolenia</strong></li>
                        <li>Pakiet materiałów szkoleniowych</li>
                        <li><strong>Indywidualna konsultacja z ekspertem</strong></li>
                        <li>Poczęstunek w przerwach</li>
                        <li>Cena: Xzł netto + VAT / za osobę</li>
                    </ul>
                </div>
                <div class="training-offer-content" id="secondTraining">
                    <h3 class="training-offer-title">
                        Poziom II
                    </h3>
                    <ul class="training-offer-list">
                        <li><strong>48 godzin lekcyjnych szkolenia</strong></li>
                        <li>Pakiet materiałów szkoleniowych</li>
                        <li><strong>Indywidualna konsultacja z ekspertem</strong></li>
                        <li>Poczęstunek w przerwach</li>
                        <li>Cena: Xzł netto + VAT / za osobę</li>
                    </ul>
                </div>
                <img class="training-offer-img" src="../../static/ai3d/images/sample-img2.jpg">
            </div>
        </section>

        <section class="training-registration scrolled" id="register">
            <div class="container">
                <h3 class="training-registration-title">
                    Nie czekaj, zapisz się już dziś!
                </h3>
                <form class="training-registration-form">
                    <div class="registration-form-container">
                        <select class="registration-form-row training-select">
                            {% if courses %}
                                {% for course in courses %}
                                <option value="{{ course.slug }}">{{ course.name }}</option>
                                {% endfor %}
                            {% endif %}
                        </select>
                        <select class="registration-form-row date-select">
                        </select>
                        <div class="registration-form-row">
                            <label class="registration-form-label" for="userName">Imię:</label>
                            <input class="registration-form-input" type="text" name="name" id="userName">
                        </div>
                        <div class="registration-form-row">
                            <label class="registration-form-label" for="userSurname">Nazwisko:</label>
                            <input class="registration-form-input" type="text" name="surname" id="userSurname">
                        </div>
                        <div class="registration-form-row">
                            <label class="registration-form-label" for="userEmail">Email:</label>
                            <input class="registration-form-input" name="email" id="userEmail">
                        </div>
                        <div class="registration-form-row">
                            <label class="registration-form-label" for="userTel">Telefon:</label>
                            <input class="registration-form-input" type="number" name="tel" id="userTel">
                        </div>
                    </div>
                    <input type="submit" class="registration-form-btn">
                </form>
            </div>
        </section>
    </section>


    <section class="contact scrolled" id="contact">
        <div class="container">
            <h2 class="contact-title">
                Kontakt
            </h2>
            <p class="contact-text">
                Jeśli potrzebujesz dodatkowych informacji - skontaktuj się z nami. Odpowiemy na każde Twoje pytanie.
            </p>

            <div class="contact-section">
                <form class="contact-form">
                    <div class="contact-form-row">
                        <div>
                            <label class="contact-form-label" for="contactName">Imię:</label>
                            <input class="contact-form-input field" type="text" name="name" id="contactName" maxlength="20">
                        </div>
                        <div>
                            <label class="contact-form-label" for="contactSurname">Nazwisko:</label>
                            <input class="contact-form-input field" type="text" name="surname" id="contactSurname" maxlength="20">
                        </div>
                    </div>
                    <div class="contact-form-row">
                        <label class="contact-form-label" for="contactEmail">Email:</label>
                        <input class="contact-form-input field" name="email" id="contactEmail">
                    </div>
                    <div class="contact-form-row">
                        <label class="contact-form-label" for="contactMessage">Wiadomość:</label>
                        <textarea class="contact-form-textarea field" name="message" id="contactMessage" maxlength="200"></textarea>
                    </div>
                    <input type="submit" class="contact-form-btn">
                </form>

                <div class="contact-details">
                    <span class="contact-detail" id="address">Akademia Inwentaryzacji 3D<br>ul. Lalalalla x,<br>11-111 Poznań</span>
                    <span class="contact-detail" id="email">
                        <a class="contact-detail-link" href="mailto:name@gmail.com?subject=Pytanie dotyczące szkolenia">Email: name@gmail.com</a>
                    </span>
                    <span class="contact-detail" id="tel">Telefon: 111 111 111</span>
                </div>
            </div>
        </div>
    </section>


    <section class="map scrolled" id="map">
        <!--location with mapbox-->
    </section>


    <footer class="main-footer">
        <div class="container">
            <ul class="main-footer-list">
                <li class="main-footer-list-elem copyright">
                    &copy; 2018 All rights reserved.
                </li>
                <li class="main-footer-list-elem authors">
                    Design: <strong>A&J</strong>
                </li>
            </ul>
        </div>
    </footer>

</body>
</html>