<!doctype html>
<html lang="en">
<head>
    <!--{% load static %}-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>

    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="../../static/ai3d/css/style.min.css">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="../../static/ai3d/js/bundle.min.js"></script>

    <!-- mapbox -->
    <script src='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js'></script>
    <link href='https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css' rel='stylesheet' />

</head>

<body>

    <nav class="main-nav">
        <ul class="main-nav-list">
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link active" href="#mainHeader">
                    Akademia
                </a>
            </li>
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link" href="#aboutUs">
                    O nas
                </a>
            </li>
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link" href="#offer">
                    Szkolenia
                </a>
            </li>
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link" href="#contact">
                    Kontakt
                </a>
            </li>
            <li class="main-nav-list-elem">
                <a class="main-nav-list-link" href="#map">
                    Znajdź nas
                </a>
            </li>
        </ul>
    </nav>


    <header class="main-header scrolled-part" id="mainHeader">
        <!-- animation or sliding pictures here-->
        <div class="container">
            <h1 class="main-header-title">
                Logo
            </h1> <!-- logo here -->
            <p class="main-header-text">
                AKADEMIA INWENTARYZACJI 3D
            </p>
            <a href="#aboutUs" class="main-header-btn">
                Dowiedz się więcej
            </a>
        </div>
    </header>


    <section class="aboutUs scrolled-part" id="aboutUs">
        <div class="container">

            <h2 class="aboutUs-title">
                O nas
            </h2>
            <p class="aboutUs-text">
                Dlaczego warto nas wybrać?
            </p>

            <div class="aboutUs-features">
                <section class="aboutUs-feature" id="firstFeature">
                    <h3 class="aboutUs-feature-title">
                        Nauka od podstaw
                    </h3>
                    <p class="aboutUs-feature-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Expedita quas ratione rem repellendus, unde voluptas!Lorem ipsum dolor.
                    </p>
                </section>
                <section class="aboutUs-feature" id="secondFeature">
                    <h3 class="aboutUs-feature-title">
                        Wykwalifikowany zespół
                    </h3>
                    <p class="aboutUs-feature-text">
                      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Cupiditate nemo, possimus quia quis voluptas voluptates!Lorem ipsum dolor.Lorem ipsum dolor.
                    </p>
                </section>
                <section class="aboutUs-feature" id="thirdFeature">
                    <h3 class="aboutUs-feature-title">
                        Materiały dydaktyczne
                    </h3>
                    <p class="aboutUs-feature-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium animi dicta doloribus enim facere quod!
                    </p>
                </section>
                <section class="aboutUs-feature" id="fourthFeature">
                    <h3 class="aboutUs-feature-title">
                        Szybka rejestracja
                    </h3>
                    <p class="aboutUs-feature-text">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At odit, quasi? Eum exercitationem maiores saepe? Lorem ipsum dolor.Lorem ipsum dolor.
                    </p>
                </section>
            </div>

        </div>
    </section>


    <section class="offer scrolled-part" id="offer">
        <section class="offer-description">
            <div class="container">
                <h2 class="offer-description-title">
                    Co osiągniesz dzięki udziałowi w szkoleniu?
                </h2>
                <ul class="offer-description-list">
                    <li class="offer-description-list-elem">
                        Dowiesz się, na czym opiera się nowoczesna technologia inwentaryzacji obiektów architektonicznych w 3D oraz poznasz zagadnienia związane ze skanowaniem i modelowaniem 3D budynków.
                    </li>
                    <li class="offer-description-list-elem">
                        Nauczysz się, jak stosować nowoczesne technologie inwentaryzacji 3D dla różnego typu obiektów architektonicznych i jak określić najbardziej optymalny rodzaj dokumentacji końcowej.
                    </li>
                    <li class="offer-description-list-elem">
                        Uzyskasz umiejętność radzenia sobie w środowisku 3D, posługując się różnego rodzaju aplikacjami i narzędziami.
                    </li>
                    <li class="offer-description-list-elem">
                        Dowiesz się i przećwiczysz krok po kroku każdy etap inwentaryzacji 3D zabytkowego budynku o skomplikowanej geometrii.
                    </li>
                    <li class="offer-description-list-elem">
                        Dowiesz się, co można skanować i jakich rezultatów należy oczekiwać, jakie są najczęściej popełniane błędy przy planowaniu i realizacji prac pomiarowych 3D i jakie są sposoby ich przygotowywania oraz kontroli.
                    </li>
                    <li class="offer-description-list-elem">
                        Uzyskasz wiedzę praktyczną dotyczącą dokładnego odwzorowania danych 3D w dokumentacji płaskiej 2D CAD oraz dowiesz się, na co należy zwrócić uwagę w trakcie przygotowywania tego typu opracowań.
                    </li>
                    <li class="offer-description-list-elem">
                        Dowiesz się, jak przygotować modele 3D na bazie chmury punktów, jakie oprogramowanie należy wykorzystać.
                    </li>
                    <li class="offer-description-list-elem">
                        Uzyskasz wiedzę praktyczną dotyczącą realizacji projektów związanych z inwentaryzacją 3D - jakie  dokładności można uzyskać w odniesieniu do zakładanego czasu oraz prognozowanych kosztów.
                    </li>
                </ul>
            </div>
        </section>

        <section class="offer-trainings">
            <div class="container"></div>
        </section>

        <section class="offer-registration">
            <div class="container">
                <form class="offer-registration-form">
                </form>
            </div>
        </section>
    </section>


    <section class="contact scrolled-part" id="contact">
        <div class="container">

            <h2 class="contact-title">
                Kontakt
            </h2>
            <p class="contact-text">
                Jeśli potrzebujesz dodatkowych informacji - skontaktuj się z nami. Odpowiemy na każde Twoje pytanie.
            </p>

            <div class="contact-section">
                <form class="contact-form"
                      <!--action="{% url 'ai3d:index' %}" -->
                      method="POST">
                    <!--{% csrf_token %}-->
                    <div class="contact-form-row">
                        <div>
                            <label class="contact-form-label" for="formName">Imię:</label>
                            <input class="contact-form-input" type="text" name="name" id="formName">
                        </div>
                        <div>
                            <label class="contact-form-label" for="formSurname">Nazwisko:</label>
                            <input class="contact-form-input" type="text" name="surname" id="formSurname">
                        </div>
                    </div>
                    <div class="contact-form-row">
                        <label class="contact-form-label" for="formEmail">Email:</label>
                        <input class="contact-form-input" type="email" name="email" id="formEmail">
                    </div>
                    <div class="contact-form-row">
                        <label class="contact-form-label" for="formMessage">Wiadomość:</label>
                        <textarea class="contact-form-textarea" name="message" id="formMessage"></textarea>
                    </div>
                    <input type="submit" class="contact-form-btn">
                </form>

                <div class="contact-details">
                    <span class="contact-detail" id="address">Akademia Inwentaryzacji 3D<br>ul. Lalalalla x,<br>11-111 Poznań</span>
                    <span class="contact-detail" id="email">
                        <a class="contact-detail-link" href="mailto:name@gmail.com?subject=Pytanie dotyczące szkolenia">Email: name@gmail.com</a>
                    </span>
                    <span class="contact-detail" id="tel">Telefon: 111 111 111</span>
                </div>
            </div>

        </div>
    </section>


    <section class="map scrolled-part" id="map">
        <!--location with mapbox-->
    </section>


    <footer class="main-footer">
        <div class="container">
            <ul class="main-footer-list">
                <li class="main-footer-list-elem copyright">
                    &copy; 2018 All rights reserved.
                </li>
                <li class="main-footer-list-elem authors">
                    Design: <strong>A&J</strong>
                </li>
            </ul>
        </div>
    </footer>

</body>
</html>