<!doctype html>
<html lang="en">
<head>
    <!--{% load static %}-->
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Akademia Inwentaryzacji</title>

    <!--style-->
    <link rel="icon" href="../../static/ai3d/assets/logo/favicon.ico" type="image/x-icon"/>
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&amp;subset=latin-ext" rel="stylesheet">
    <link rel="stylesheet" href="../../static/ai3d/css/style.min.css">

    <!--jquery, loadash, js-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/lodash.js/4.17.11/lodash.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.serializeJSON/2.9.0/jquery.serializejson.min.js"></script>
    <script src="../../static/ai3d/js/bundle.min.js"></script>

    <!--cdn aos-->
    <script src="https://unpkg.com/aos@2.3.1/dist/aos.js"></script>
    <link href="https://unpkg.com/aos@2.3.1/dist/aos.css" rel="stylesheet">

    <!--cdn mapbox-->
    <script src="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.js"></script>
    <link href="https://api.tiles.mapbox.com/mapbox-gl-js/v0.49.0/mapbox-gl.css" rel="stylesheet" />

</head>

<body>
    <header>
        <nav class="nav">
            <ul class="nav-list">
                <li class="nav-list-elem">
                    <a class="nav-list-link active" href="#aboutUs">
                        Akademia
                    </a>
                </li>
                <li class="nav-list-elem">
                    <a class="nav-list-link" href="#offer">
                        Szkolenia
                    </a>
                </li>
                <li class="nav-list-elem">
                    <a class="nav-list-link" href="#contact">
                        Kontakt
                    </a>
                </li>
                <li class="nav-list-elem">
                    <a class="nav-list-link" href="#map">
                        Znajdź nas
                    </a>
                </li>
            </ul>

            <div class="socialMedia">
                <a class="youtube" href="https://www.youtube.com" target="_blank"></a>
                <a class="facebook" href="https://www.facebook.com" target="_blank"></a>
            </div>
        </nav>

        <div class="nav-toggle" aria-label="Menu">
            <span></span>
            <span></span>
            <span></span>
            <span></span>
        </div>
    </header>

    <div class="content">
        <section class="banner scrolled">
            <video id="bgVideo" autoplay muted loop>
                <source src="../../static/ai3d/assets/video/bg-video.mp4" type="video/mp4">
            </video>

            <div class="container">
                <img class="banner-logo" src="../../static/ai3d/assets/logo/i3d_logo.svg" data-aos="zoom-in" data-aos-delay="500" data-aos-duration="1000" data-aos-once="true"/>
                <h2 class="banner-text"
                   data-aos="fade-up" data-aos-delay="1000" data-aos-duration="1000" data-aos-once="true">
                    NOWE OBLICZE INWENTARYZACJI BIM
                </h2>
                <div id="btnContainer">
                    <a href="#aboutUs" class="banner-btn">
                        <span></span>
                        <span></span>
                        <span></span>
                    </a>
                </div>
            </div>
        </section>

        <section class="aboutUs scrolled" id="aboutUs">
            <div class="container">
                <h2 class="aboutUs-title">
                    O nas
                </h2>
                <h3 class="aboutUs-subtitle">
                    Dlaczego warto nas wybrać?
                </h3>

                <div class="aboutUs-features">
                    <section class="aboutUs-feature" id="feature1">
                        <h3 class="aboutUs-feature-title">
                            Nauka od podstaw
                        </h3>
                        <p class="aboutUs-feature-text">
                            Na szkoleniu poznasz nowoczesne metody inwentaryzacji obiektów budowlanych i ich technicznego wyposażenia. Począwszy od skanowania 3D, poprzez tworzenie i obróbkę dokumentacji końcowej w postaci rysunków CAD 2D i modeli 3D na potrzeby BIM.             
                        </p>
                    </section>
                    <section class="aboutUs-feature" id="feature2">
                        <h3 class="aboutUs-feature-title">
                            Wykwalifikowany zespół
                        </h3>
                        <p class="aboutUs-feature-text">
                            Szkolenie prowadzi międzynarodowa, doświadczona kadra, która działa w branży projektowej i architektonicznej w zakresie tworzenia dokumentacji 2D i modeli BIM dla istniejących obiektów.
                        </p>
                    </section>
                    <section class="aboutUs-feature" id="feature3">
                        <h3 class="aboutUs-feature-title">
                            Praktyczne doświadczenie
                        </h3>
                        <p class="aboutUs-feature-text">
                            Podzielimy się z Tobą naszą praktyczną wiedzą, którą nabywaliśmy realizując wiele standardowych oraz nietypowych projektów, zarówno w kraju jaki i poza jego granicami.                    </section>
                    <section class="aboutUs-feature" id="feature4">
                        <h3 class="aboutUs-feature-title">
                            2 Poziomy edukacji
                        </h3>
                        <p class="aboutUs-feature-text">
                            Szkolenie zostało podzielone na 2 poziomy, dzięki czemu każdy uczestnik może wybrać interesujący go zasób wiedzy i umiejętności. Po ukończeniu każdego poziomu uczestnik nabędzie odpowiednie kwalifikacje, pozwalające korzystać z technologii inwentaryzacji 3D.
                        </p>
                    </section>
                    <section class="aboutUs-feature" id="feature5"> 
                        <h3 class="aboutUs-feature-title">
                            Materiały dydaktyczne
                        </h3>
                        <p class="aboutUs-feature-text">
                            Podczas szkoleń zapewniamy uczestnikom materiały dydaktyczne w formie elektronicznej. Każdy uczestnik otrzyma Niezbędnik Wiedzy, zawierający dane do opracowania oraz przykłady realizacji inwentaryzacji w BIM.
                        </p>
                    </section>
                    <section class="aboutUs-feature" id="feature6">
                        <h3 class="aboutUs-feature-title">
                            Szybka rejestracja
                        </h3>
                        <p class="aboutUs-feature-text">
                            W sekcji <a href="#register">Szkolenia</a> znajdziesz formularz do zapisu. Uzupełnij swoje dane, wybierz rodzaj kursu, datę i gotowe!
                        </p>
                    </section>
                </div>
            </div>
        </section>

        <section class="training"  id="offer">
            <section class="training-description scrolled firstLevel">
                <div class="container">
                    <h2 class="description-title">
                        Co osiągniesz dzięki szkoleniu?
                    </h2>
                    <h3 class="description-subtitle">
                        I POZIOM SZKOLENIA
                    </h3>
                    <p class="description-text">
                        Szkolenie dedykowane jest dla projektantów, konserwatorów zabytków i architektów, którzy pragną podnieść poziom swojej wiedzy na temat inwentaryzacji 3D.
                    </p>

                    <section>
                        <div class="description-content">
                            <ul class="description-list leftSide">
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" data-aos-once="true">
                                    Dowiesz się, na czym opiera się nowoczesna technologia inwentaryzacji obiektów kubaturowych i ich technicznego wyposażenia w BIM, zagadnienia związane ze skanowaniem i modelowaniem 3D budynków przestaną już być problemem.
                                </li>
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800" data-aos-once="true">
                                    Uzyskasz wiedzę teoretyczną dotyczącą realizacji projektów związanych z inwentaryzacją 3D, także w technologii BIM - jakie  dokładności można uzyskać w stosunku do zakładanego czasu oraz w odniesieniu do prognozowanych kosztów zadania.
                                </li>
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" data-aos-once="true">
                                    Uzyskasz wystarczającą wiedzę do egzekwowania i wytyczenia narzędzi do przeprowadzenia prawidłowego procesu projektowo-realizacyjnego.
                                </li>
                            </ul>
                            <img class="description-img" id="firstLine" src="../../static/ai3d/assets/icons/wavyline6.png">
                            <ul class="description-list rightSide">
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200" data-aos-once="true">
                                    Nauczysz się jak zastosować nowoczesne technologie inwentaryzacji 3D dla różnego typu obiektów architektonicznych i jak określić najbardziej optymalny rodzaj dokumentacji końcowej.
                                </li>
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1400" data-aos-once="true">
                                    Dowiesz się, co można i czego nie można skanować, jakich rezultatów prac pomiarowych należy oczekiwać, jakie są najczęściej popełniane błędy przy planowaniu i realizacji prac pomiarowych 3D i jakie są sposoby ich przygotowywania oraz kontroli.
                                </li>
                                <li class="description-list-elem iconElem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1600" data-aos-once="true">
                                    <img src="../../static/ai3d/assets/icons/graduation-cap.svg">
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </section>

            <section class="training-description scrolled secondLevel">
                <div class="container">
                    <h3 class="description-subtitle">
                        II POZIOM SZKOLENIA
                    </h3>
                    <p class="description-text">
                        Szkolenie dedykowane jest dla projektantów, konserwatorów zabytków i architektów, którzy pragną podnieść poziom swoich umiejętności w zakresie wykonywania  inwentaryzacji 3D i tworzenia dokumentacji BIM na podstawie danych uzyskanych przy pomocą skanowania laserowego 3D.
                    </p>
                    
                    <section>
                        <div class="description-content">
                            <ul class="description-list leftSide">
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="600" data-aos-once="true">
                                    Dowiesz się, na czym opiera się nowoczesna technologia inwentaryzacji obiektów architektonicznych w 3D BIM, poznasz zagadnienia związane ze skanowaniem i modelowaniem 3D obiektów budowlanych.
                                </li>
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="800" data-aos-once="true">
                                    Uzyskasz umiejętność radzenia sobie w środowisku BIM, posługując się różnego rodzaju aplikacjami i narzędziami wykorzystywanymi przy realizacjach opartych na technologii 3D.
                                </li>
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1000" data-aos-once="true">
                                    Dowiesz się, co można i czego nie można skanować, jakich rezultatów prac pomiarowych należy oczekiwać, jakie są najczęściej popełniane błędy przy planowaniu i realizacji prac pomiarowych 3D i zdobędziesz umiejętności przeprowadzania kontroli tych prac w środowisku BIM.
                                </li>
                                <li class="description-list-elem iconElem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1800" data-aos-once="true">
                                    <img src="../../static/ai3d/assets/icons/graduation-cap_orange.svg">
                                </li>
                            </ul>
                            <img class="description-img" id="secondLine"  src="../../static/ai3d/assets/icons/wavyline7.png">
                            <ul class="description-list rightSide">
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1200" data-aos-once="true">
                                    Poznasz i przećwiczysz krok po kroku każdy etap inwentaryzacji 3D BIM zabytkowego budynku o skomplikowanej geometrii wraz z jego technicznym wyposażeniem - od projektowania prac pomiarowych, doboru technologii, poprzez obróbkę chmury punktów aż do dokumentacji finalnej w postaci dokumentacji CAD 2D lub modelu BIM.
                                </li>
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1400" data-aos-once="true">
                                    Uzyskasz wiedzę praktyczną i umiejętności dotyczące dokładnego odwzorowania danych 3D w dokumentacji płaskiej 2D CAD.
                                </li>
                                <li class="description-list-elem"
                                    data-aos="fade-up" data-aos-duration="1000" data-aos-delay="1600" data-aos-once="true">
                                    Nauczysz się jak przygotować modele 3D BIM na bazie chmury punktów oraz w jaki sposób dobrać parametry i ustawienia programów w celu optymalizacji prac w środowisku 3D.
                                </li>
                            </ul>
                        </div>
                    </section>
                </div>
            </section>

            <section class="training-offer scrolled">
                <div class="container">
                    <img class="training-offer-img" src="../../static/ai3d/assets/images/trainingFirst.jpg">
                    <div class="training-offer-content" id="firstTraining">
                        <h3 class="training-offer-title">
                            Poziom I
                        </h3>
                        <ul class="training-offer-list">
                            <li><strong>8 godzin wykładowych szkolenia</strong></li>
                            <li>Nauka w 13-sto osobowej grupie</li>
                            <li>Pakiet materiałów szkoleniowych</li>
                            <li><strong>Indywidualna konsultacja z ekspertem</strong></li>
                            <li>Poczęstunek w przerwach kawowych</li>
                            <li>Cena: 590zł netto + VAT / za osobę</li>
                        </ul>
                    </div>
                    <img class="training-offer-img" src="../../static/ai3d/assets/images/trainingSecond.jpg">
                    <div class="training-offer-content" id="secondTraining">
                        <h3 class="training-offer-title">
                            Poziom II
                        </h3>
                        <ul class="training-offer-list">
                            <li><strong>48 godzin ćwiczeniowych szkolenia</strong></li>
                            <li>Nauka w  7-mio osobowej grupie</li>
                            <li>Pakiet materiałów szkoleniowych</li>
                            <li><strong>Indywidualna konsultacja z ekspertem</strong></li>
                            <li>Poczęstunek w przerwach kawowych</li>
                            <li>Cena: 4300 netto + VAT / za osobę</li>
                        </ul>
                    </div>
                </div>
            </section>

            <section class="training-program scrolled">
                <div class="container">
                    <a href="../../static/ai3d/assets/documents/I3D%20Program%20szkolenia.pdf" id="pdf" download>
                        Szczegółowy program szkolenia - pobierz pdf
                    </a>
                </div>
            </section>

            <section class="training-registration scrolled">
                <div class="container" id="register">
                    <h2 class="training-registration-title">
                        Nie czekaj, zapisz się już dziś!
                    </h2>

                    <form class="training-registration-form">
                        <div class="registration-form-container">
                            <div id="trainingData">
                                <select class="registration-form-row training-select">
                                    {% if courses %}
                                        {% for course in courses %}
                                        <option value="{{ course.slug }}">{{ course.name }}</option>
                                        {% endfor %}
                                    {% endif %}
                                </select>
                                <select class="registration-form-row date-select" name="training"></select>
                            </div>

                            <div id="personalData">
                                <h3 class="registartion-form-title">Dane osoby zgłaszającej</h3>
                                <div class="registration-form-row">
                                    <label class="registration-form-label" for="name">Imię i nazwisko *</label>
                                    <input class="registration-form-input required" type="text" name="reporting_person[name]" id="name">
                                </div>
                                <div class="registration-form-row">
                                    <label class="registration-form-label" for="mail">Adres email *</label>
                                    <input class="registration-form-input required" name="reporting_person[email]" id="mail">
                                </div>
                                <div class="registration-form-row">
                                    <label class="registration-form-label" for="tel">Telefon komórkowy *</label>
                                    <input class="registration-form-input required" type="tel" name="reporting_person[phone_number]" placeholder="Tylko cyfry np.500500500" name="tel" id="tel">
                                </div>
                                <div>
                                    <input class="registration-form-checkbox" type="checkbox" id="userAsParticipant">
                                    <label class="registration-form-label" for="userAsParticipant">Osoba zgłaszająca jest jednocześnie uczestnikiem szkolenia</label>
                                </div>
                            </div>

                            <div id="participantsData">
                                <h3 class="registartion-form-title">Dane uczestników szkolenia</h3>
                                <ol>
                                    <li class="participantData">
                                        <div class="registration-form-row">
                                            <label class="registration-form-label" for="participantName">Imię i nazwisko *</label>
                                            <input class="registration-form-input required" type="text" name="participants[0][name]" id="participantName">
                                        </div>
                                        <div class="registration-form-row">
                                            <label class="registration-form-label" for="participantEmail">Adres email *</label>
                                            <input class="registration-form-input required" name="participants[0][email]" id="participantEmail">
                                        </div>
                                    </li>
                                </ol>
                                <span id="addParticipant">Dodaj kolejnego uczestnika</h4>
                            </div>

                            <div>
                                <input class="registration-form-checkbox" type="checkbox" id="invoice">
                                <label class="registration-form-label" for="invoice">Dane instytucji zgłaszającej (dane do faktury)<label>
                            </div>

                            <div id="approvementData">
                                <div>
                                    <input class="registration-form-checkbox" type="checkbox" id="approvementTraining" name="reporting_person[signup_agreement]" value="true">
                                    <label class="registration-form-label" for="approvementTraining">* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et blandit nibh. Quisque suscipit, tellus at ullamcorper imperdiet, ligula lorem facilisis quam, id semper nulla felis sit amet nisl.<label>
                                </div>
                                <div>
                                    <input class="registration-form-checkbox" type="checkbox" id="approvementNewsletter" name="reporting_person[newsletter_agreement]" value="true">
                                    <label class="registration-form-label" for="approvementNewsletter">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus et blandit nibh. Quisque suscipit, tellus at ullamcorper imperdiet, ligula lorem facilisis quam, id semper nulla felis sit amet nisl. Suspendisse at hendrerit libero. Etiam neque odio, lacinia quis quam eget, eleifend molestie lorem.<label>
                                </div>
                            </div>
                        </div>
                        <div class="registration-btn-container">
                            <button type="submit" class="registration-btn">Zapisz się</button>
                        </div>
                    </form>
                </div>
            </section>
        </section>

        <section class="contact scrolled" id="contact">
            <div class="container">
                <h2 class="contact-title">
                    Kontakt
                </h2>
                <p class="contact-text">
                    Jeżeli potrzebujesz dodatkowych informacji – skontaktuj się z nami. Odpowiemy na każde Twoje pytanie.
                </p>

                <div class="contact-section">
                    <form class="contact-form">
                        <div class="contact-form-row">
                            <div>
                                <label class="contact-form-label" for="contactName">Imię:</label>
                                <input class="contact-form-input required" type="text" name="name" id="contactName" maxlength="20">
                            </div>
                            <div>
                                <label class="contact-form-label" for="contactSurname">Nazwisko:</label>
                                <input class="contact-form-input required" type="text" name="surname" id="contactSurname" maxlength="20">
                            </div>
                        </div>
                        <div class="contact-form-row">
                            <label class="contact-form-label" for="contactEmail">Email:</label>
                            <input class="contact-form-input required" name="email" id="contactEmail">
                        </div>
                        <div class="contact-form-row">
                            <label class="contact-form-label" for="contactMessage">Wiadomość:</label>
                            <textarea class="contact-form-textarea required" name="message" id="contactMessage" maxlength="200"></textarea>
                        </div>
                        <div class="contact-btn-container">
                            <button type="submit" class="contact-btn">Prześlij</button>
                        </div>
                    </form>

                    <div class="contact-details">
                        <div class="contact-detail" id="address">
                            <div>
                                <span>Jednostka naukowo-badawczo-wdrożeniowa Nowych Technologii</span>
                                <span>ul. Wroniecka 23,</span>
                                <span>61-767 Poznań</span>
                            </div>
                        </div>
                        <span class="contact-detail" id="email">
                            <a class="contact-detail-link" href="mailto:name@gmail.com?subject=Pytanie dotyczące szkolenia">Email: name@gmail.com</a>
                        </span>
                        <span class="contact-detail" id="tel">
                            <a class="contact-detail-link" href="tel:111-111-111">Telefon: 111 111 111</a>
                        </span>
                    </div>
                </div>
            </div>
        </section>

        <section class="map scrolled" id="map">
            <!--location with mapbox-->
        </section>

        <footer class="footer">
            <div class="container">
                <ul class="footer-list">
                    <li class="footer-list-elem copyright">
                        &copy; 2018 All rights reserved.
                    </li>
                    <li class="footer-list-elem authors">
                        Design:
                        <a href="mailto:aneta.rolnik@gmail.com?subject=Tworzenie stron internetowych">A&J</a>
                    </li>
                </ul>
            </div>
        </footer>
    </div>
</body>
</html>