.contact-form-row {
  margin-bottom: 15px;
}

.contact-form-row:first-child {
  display: flex;

  div:first-child {
    margin-right: 5px;
  }
}

.contact-form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}

.contact-form-input {
  @include input;
}

.contact-form-textarea {
  @include input;
  height: 160px;
  resize: none;
}

.contact-form-btn{
  @include submitBtn;
}

.contact-form-state {
  font-size: 16px;
}


.contact .tooltip {
  position: relative;
}

.contact .tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 0;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  transform: translate(-50%,0);
  opacity: 0;
  transition: opacity 0.3s;
}

.contact .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #555;
}

.contact .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


@media(max-width: 960px) {
  .contact-form {
    width: 50%;
  }

  .contact-form-textarea {
    height: 140px;
  }
}



