.contact-form {
  @include flex($direction:column, $justify: flex-start);
  width: 100%;
  height: 540px;
}

.contact-form-row {
  width: 100%;
  margin-bottom: 15px;
}

.contact-form-row:first-child {
  @include flex($justify: space-between);
  div {
    width: 49%;
  }
}

.contact-form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 18px;
  font-weight: 700;
}

.contact-form-input,
.contact-form-textarea {
  @include input;
}

.contact-form-textarea {
  height: 160px;
  resize: none;
}

.contact-btn-container {
  @include flex($direction: column);
  margin-top: 10px;
}

.contact-form-btn{
  @include button;
}

.contact-btn-success {
  background : $main-color;
  color : white;
  cursor : not-allowed;
}

.contact-form-state {
  margin: 10px 0 0;
  text-align: center;
}

//tooltips
.contact .tooltip {
  position: relative;
}

.contact .tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 0;
  position: absolute;
  z-index: 1;
  bottom: 90%;
  left: 50%;
  transform: translate(-50%,0);
  opacity: 0;
  transition: opacity 0.3s;
}

.contact .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #555;
}

.contact .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


@media(min-width: 720px) {
  .contact-form {
    width: 55%;
    height: 500px;
  }
}
