.contact-form {
  @include flex($direction:column, $justify: flex-start);
  width: 100%;
  height: 570px;
}

.contact-form-row {
  width: 100%;
  margin-bottom: 15px;
}

.contact-form-row:first-child {
  @include flex($justify: space-between);
  div {
    width: 49%;
  }
}

.contact-form-label {
  display: block;
  margin-bottom: 5px;
  font-size: 14px;
  letter-spacing: .2px;
  font-weight: 700;
}

.contact-form-input,
.contact-form-textarea {
  @include input;
}

.contact-form-textarea {
  height: 240px;
  resize: none;

  &::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px rgba(0,0,0,0.2);
    border-radius: 10px;
    background-color: #f6f7f6;
  }

  &::-webkit-scrollbar{
    width: 12px;
    background-color: #F5F5F5;
  }

  &::-webkit-scrollbar-thumb{
    border-radius: 10px;
    background-color: #ccc;
  }
}

.contact-btn-container {
  @include flex($direction: column);
  margin-top: 10px;
}

.contact-btn{
  @include button;
  @include animatedBtn;
}

.contact-form-state {
  margin: 10px 0 0;
  text-align: center;
}

@media(min-width: 720px) {
  .contact-form {
    width: 55%;
  }

  .contact-form-label {
    font-size: 16px;
  }
}

@media(min-width: 1360px) {
  .contact-form-label {
    font-size: 18px;
  }
}
