.contact-detail {
  display: block;
  margin-bottom: 40px;
  font-size: 20px;
  text-align: left;
  line-height: 30px;
}

.contact-detail-link{
  text-decoration: none;
  color: inherit;
}

.contact-detail::before {
  @include pseudo-element($width: 40px, $height: 40px);
  margin-bottom: 5px;
}

#address::before {
  background: url("../images/map-marker.svg") no-repeat center;
}

#email::before {
  background: url("../images/envelope.svg") no-repeat center;
}

#tel::before {
  background: url("../images/phone.svg") no-repeat center;
}


@media(max-width: 960px) {
  .contact-detail {
    font-size: 18px;
    line-height: 26px;
  }

  .contact-detail::before {
    @include pseudo-element($width: 35px, $height: 35px);
  }
}


@media(max-width: 720px) {
  .contact-details {
    @include flex($direction: column, $align: flex-start);
    width: 100%;
  }

  .contact-detail {
    display: flex;
}

  #address,
  #email {
    margin-bottom: 60px;
  }

  #tel {
    margin-bottom: 20px;
  }

  .contact-detail::before {
    margin-right: 20px;
  }
}