@import "contact-form";
@import "contact-details";

.contact{
  @include position-size;
  background: #eee;
}

.contact .container {
  @include flex($direction: column);
  height: $primary-value*1%;
}

.contact-title {
  @include title-section;
}

.contact-text {
  font-size: 20px;
  text-align: center;
  margin-bottom: 40px;
}

.contact-section{
  @include flex($justify: space-between);
  width: $primary-value*1%;
}


@media(max-width: 960px) {
  .contact{
    @include position-size($margin-left: 0);
  }
}








