.contact-detail {
  display: flex;
  font-size: 18px;
  letter-spacing: .4px;
}

#address,
#email{
  margin-bottom: 40px;
}

#address span {
  display: block;
  padding-bottom: 7px;
}

.contact-detail-link{
  text-decoration: none;
  color: inherit;
}

.contact-detail::before {
  @include pseudo-element($width: 35px, $height: 35px);
  min-width: 35px;
  margin: 0 15px 5px 0;
}

#address::before {
  background: url("../assets/icons/map-marker.svg") no-repeat center;
}

#email::before {
  background: url("../assets/icons/envelope.svg") no-repeat center;
}

#tel::before {
  background: url("../assets/icons/phone.svg") no-repeat center;
}


@media(min-width: 720px) {
  .contact-details {
    width: 35%;
  }

  .contact-detail {
    flex-direction: column;
  }

  .contact-detail::before {
    width: 40px;
    height: 40px;
  }
}

@media(min-width: 960px) {
  .contact-details {
    width: 40%;
  }
}



