.training-program {
  background: #f6f7f6;
  height: 100px;
}

.training-program .container {
  @include flex;
}

#pdf {
  text-decoration: none;
  text-align: center;
  color: inherit;
  font-size: 18px;
  letter-spacing: .4px;
}


@media(min-width: 720px) {
  #pdf {
    font-size: 20px;
    padding: 20px 10px;
    position: relative;
    transition: 0.3s;
  }

  #pdf:hover::before {
    content: '';
    background: url('../assets/icons/arrow.svg') center;
    position: absolute;
    top: 10px;
    left: -20px;
    transform: translate(0, 50%);
    display: block;
    width: 20px;
    height: 20px;
    animation: arrow-pulse 1400ms linear infinite;
  }

  @keyframes arrow-pulse {
    0% {
      left: -20px;
      opacity: 1;
    }

    50% {
      left: -40px;
      opacity: .5;
    }

    100% {
      left: -20px;
      opacity: 1;
    }
  }
}