.training-registration {
  height: 620px;
  margin-left: 20%;
}

.training-registration .container {
  @include flex($direction: column);
}

.training-registration-title{
  font-size: 34px;
  margin: 20px 0 50px;
  text-align: center;
}

.training-registration-form {
  @include flex ($direction: column, $justify: flex-start);
  width: 50%;
  height: 70%;
  margin-bottom: 20px;
}

.registration-form-container {
  @include flex ($direction: column, $align: flex-end);
  width: 100%;
  position: relative;
}

.registration-form-container::before {
  @include pseudo-element($width: 80px, $height: 80px);
  background: url("../images/graduation-cap.svg") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}

.registration-form-row {
  @include flex ($justify: space-between);
  margin-bottom: 15px;
  width: $primary-value*1%;
}

.registration-form-input,
.training-select,
.date-select{
  @include input;
  width: 70%;
}

.training-select,
.date-select {
  max-width: 70%;
}

.registration-form-label {
  font-size: 18px;
  font-weight: 700;
}

.registration-btn-container {
  @include flex($direction: column);
  margin-top: 10px;
}

.registration-form-btn {
  @include submitBtn;
}

.registration-btn-success {
  background : #5fc9c9;
  color : white;
  cursor : not-allowed;
}

.registration-form-state {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 0;
}

//tooltips
.training .tooltip {
  position: relative;
}

.training .tooltip .tooltiptext {
  visibility: hidden;
  width: 180px;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 7px 0;
  position: absolute;
  z-index: 1;
  bottom: 120%;
  left: 65%;
  transform: translate(-50%,0);
  opacity: 0;
  transition: opacity 0.3s;
}

.training .tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border: 5px solid transparent;
  border-top-color: #555;
}

.training .tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}


@media(max-width: 1140px) {
  .training-registration {
    margin-left: 0;
  }
}


@media(max-width: 960px) {
  .training-registration-title{
    font-size: 28px;
    margin: 20px 20px 50px;
  }

  .training-registration-form {
    width: 55%;
    height: 70%;
    margin-bottom: 20px;
  }
}


@media(max-width: 720px) {
  .training-registration-form {
    width: 75%;
    height: 75%;
  }
}

@media(max-width: 540px) {
  .training-registration-form {
    width: 100%;
  }

  .registration-form-input,
  .training-select,
  .date-select{
    width: 68%;
  }

  .training-registration-title {
    margin: 20px 0 40px;
  }

  .registration-form-container::before {
    @include pseudo-element($width: 70px, $height: 70px);
  }
}