.training-registration {
  min-height: $primary-value*6px;
}

.training-registration .container {
  @include flex($direction: column);
}

.training-registration-title{
  @include title-section;
  margin-bottom: 50px;
}

.training-registration-form {
  @include flex ($direction: column, $justify: flex-start);
  width: 50%;
  height: 470px;
}

.registration-form-container {
  @include flex ($direction: column, $align: flex-end);
  width: 100%;
  position: relative;
}

.registration-form-container::before {
  @include pseudo-element($width: 80px, $height: 80px);
  background: url("../images/graduation-cap.svg") no-repeat center;
  position: absolute;
  top: 0;
  left: 0;
}

.registration-form-row {
  @include flex ($justify: space-between);
  margin-bottom: 15px;
  width: $primary-value*1%;
}

.registration-form-input,
.training-select,
.date-select{
  @include input;
  width: 75%;
}

.registration-form-label {
  font-size: 18px;
  font-weight: 700;
}

.registration-form-btn {
  @include submitBtn;
}

.registration-form-state {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 0;
}
