.training-description {
  @include position-size;
}

.training-description .container {
  @include flex($direction: column);
}

.training-description-title {
  @include title-section;
  margin-bottom: 20px;
}

.training-description-list {
  font-size: 18px;
  line-height: 20px;
  list-style: none;
  margin: 10px 0;
  padding-left: 30px;
}

.training-description-list-elem {
  margin-bottom: 18px;
  position: relative;
}

.training-description-list-elem:last-child {
  margin-bottom: 0;
}


.training-description-list-elem::before{
  @include pseudo-element($width: 20px, $height: 20px);
  background: url("../images/check.svg") left;
  position: absolute;
  top: 0;
  left: -30px;
}


@media(max-width: 1140px) {
  .training-description {
    @include position-size($margin-left: 0);
  }
}


@media(max-width: 960px) {
  .training-description-title {
    @include title-section($fontSize: 28px);
    margin-bottom: 18px;
  }

  .training-description-list {
    font-size: 16px;
    line-height: 18px;
  }

  .training-description-list-elem {
    margin-bottom: 18px;
  }
}
