.training-registration {
  min-height: $primary-value*6px;
}

.training-registration .container {
  @include flex($direction: column);
}

.training-registration-title{
  @include title-section;
  margin-bottom: 50px;
}

.training-registration-form {
  @include flex ($direction: column, $justify: flex-start);
  width: 50%;
  height: 470px;
  position: relative;
}

.training-registration-form::before {
  @include pseudo-element($width: 70px, $height: 70px);
  background: url("../images/graduation-cap.svg") no-repeat center;
  position: absolute;
  top: 0;
  left: -$primary-value*1px;
}

.registration-form-row {
  @include flex;
  margin-bottom: 15px;
  width: $primary-value*1%;
}

.registration-form-input,
.training-select,
.date-select{
  @include input;
}

.registration-form-label {
  font-size: 18px;
  font-weight: 700;
  width: 40%;
}

.registration-form-btn {
  @include submitBtn;
}

.registration-form-state {
  font-size: 16px;
  text-align: center;
  margin: 10px 0 0;
}
