.training-offer {
  height: 650px;
  margin-left: 20%;
  background: #eee;
}

.training-offer .container {
  @include flex($wrap: wrap);
  align-content: center;
}

.training-offer-content {
  @include flex($direction: column);
  background: white;
  width: 50%;
  height: 45%;
}

.training-offer-img {
  width: 50%;
  height: 45%;
  object-fit: cover;
}


.training-offer-title {
  font-size: 20px;
  margin:0;
}

.training-offer-list {
  font-size: 18px;
  line-height: 25px;
  padding: 0 15px;
  list-style: none;
}


@media(max-width: 1140px) {
  .training-offer {
    margin-left: 0;
  }
}


@media(max-width: 960px) {
  .training-offer-title {
    font-size: 18px;
  }

  .training-offer-list {
    font-size: 16px;
  }
}


@media(max-width: 720px) {
  .training-offer {
    height: 950px;
  }

  .training-offer-content {
    width: 100%;
    height: 23%;
  }

  .training-offer-img {
    width: 100%;
    height: 23%;
    object-fit: cover;
  }

  #secondTraining {
    order: 2;
  }

  .training-offer-img:last-child {
    order: 1;
  }
}


@media(max-width: 540px) {
  .training-offer {
    height: 1050px;
  }

  .training-offer-title {
    font-size: 20px;
    margin: 10px 0 15px;
  }

  .training-offer-list {
    font-size: 18px;
    padding: 0 10px;
    margin: 0;
  }
}


