.training-offer {
  background: #ffffff;
}

.training-offer .container {
  @include flex($wrap: wrap);
}

.training-offer-img {
  object-fit: cover;
  object-position: center;
  width: 100%;
  height: 300px;
}

.training-offer-content {
  @include flex($direction: column);
  background: white;
  width: 100%;
  height: 25%;
  padding: 20px 10px;
}

.training-offer-title {
  font-size: 22px;
  letter-spacing: .2px;
  margin: 10px 0 15px;
}

.training-offer-list {
  list-style: none;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: .2px;
  padding: 0;
  margin: 0;

  li {
    padding-top: 5px;
  }
}


@media (min-width: 720px) {
  .training-offer-content,
  .training-offer-img{
    width: 50%;
  }

  #secondTraining {
    order: 1;
  }

  .training-offer-img:last-of-type {
    order: 2;
  }

}

